NEXT_PUBLIC_SUPABASE_URL=https://vlerxqwbmzlgcdchjnfz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZsZXJ4cXdibXpsZ2NkY2hqbmZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMzE2MzksImV4cCI6MjA5NzgwNzYzOX0.rougi-Bodt3dCd51FCSU8V0EzLBps28WaJkfeRR-M0Y

# Optional
RESEND_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_GA_ID=
